.header{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;

}

.navbar{
    margin: 0.1rem;
    padding: 1px;
    border-radius: 12px;
    font-family: Leckerli One;
    background-color: #020202;
    overflow: hidden;
  }
  
.navbar a{
  
    margin: 0rem;
    float: left;
  
    position: relative;
    color: #f2f2f2;
    display: flex;
    text-align: center;
    border: 2.5px solid #000000;
    border-radius: 15px;
    padding: 0.4rem;
    font-size: 22px;
    transition: color 0.30s ease, border-color 0.30s ease;
  }
  
.navbar a:hover{
    color: #0070f3;
    border-color: #0070f3;
    
    
  }


  .button{
    color: inherit;
    float: right;
    border-radius: 12px;
    text-align:center;
  }
  
  .button a:hover{
    background-color: #02ce13;
    color:#f8f8f8;
    border-radius: 20px;
  }
  
  .login{
    float: right;
  }