.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}




.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}



.loginitens{
  background-color: #C5C5C5;
  position: relative;
  left: 450px;
  width: 380px;
  height:270px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  justify-content: center;
  overflow: hidden;
}

.blankSpace{
  height: 56px;
}

.registerEventItens{
  background-color: #C5C5C5;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}


.organize{

  font-family: Leckerli One;
  font-size: 24px;
  line-height: 32px;

  color: #000000;
  
}

.groupElements{

  float: center;
  padding: 3rem;
  position: relative;
  top: 7px;

  text-align: center;
}

.configLogo{
  float: center;

 
  padding: 0.5rem;
  text-align: center;
}



.groupElements a:hover{
  background-color: #ffffff;
  color: #32c51f;
  border-radius: 28px;
  padding: 5px 10px;
}


.loginForm{
  float: center;
  position:absolute;
  top:15em;
  height:270px;
  width: 100%;
  background-color: #7c7c7e;
  align-items: center;
}

.registerEventForm{
  float: center;
  position:absolute;
  top:15em;
  height:500px;
  width: 100%;
  background-color: #7c7c7e;
  align-items: center;
}

.adjustForm{
  float: left;
  position:absolute;
  left:37%;
  top:7em;
  left: 4em;
  width: 380px;
  height:270px;
} 
.form{
  position:absolute;
  display:block;
}

.fieldset{
  width:350px;
  height:165px;
}

.legend{
  font-weight:bold;
  font-family: "Segoe UI","Arial","Times New Roman";
}



.buttonSubmit{
  position:absolute;
  bottom: 0.5em;
  right:10px;
  padding: 0.5rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.buttonSubmit button:hover{
  background-color: #02ce13;
  color:#f8f8f8;
  border-radius: 12px;
}
 .backG{
   background-color: #7c7c7e;
 }

 .header{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  float: center;

}


.navbar{
  margin: 0.1rem;
  padding: 1px;
  border-radius: 12px;
  font-family: Leckerli One;
  background-color: #020202;
  overflow: hidden;
}

.navbar a{

  margin: 0rem;
  float: left;

  position: relative;
  color: #f2f2f2;
  display: flex;
  text-align: center;
  border: 2.5px solid #000000;
  border-radius: 15px;
  padding: 0.4rem;
  font-size: 22px;
  transition: color 0.30s ease, border-color 0.30s ease;
}

.navbar a:hover{
  color: #0070f3;
  border-color: #0070f3;
  
  
}


.button{
  color: inherit;
  float: right;
  border-radius: 12px;
  text-align:center;
}

.button a:hover{
  background-color: #02ce13;
  color:#f8f8f8;
  border-radius: 20px;
}

.login{
  float: right;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #020202;
  background-color: #020202;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  overflow: hidden;
}

.footer p{
  font-family: Leckerli One;
  margin: 2rem;
  color: #f2f2f2;
  text-align: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  font-family: Leckerli One;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  float: center;
   margin: 1rem;
  
   padding: 0.5rem;
   text-align: center;
   color:#eaeaea;
   border: 1px solid #eaeaea;
   border-radius: 10px;
   transition: color 0.15s ease, border-color 0.15s ease;
 }
.card:hover,
.card:focus,
.card:active {
color: #0070f3;
border-color: #0070f3;
}

.card h3 {
margin: 0 0 1rem 0;
font-size: 1.5rem;
}

.card p {
margin: 0;
font-size: 1.25rem;
line-height: 1.5;
}
